.markdownContent {
  h1 {
    font-size: 1.75rem; /* Larger size for main headings */
    margin-bottom: 0.6em;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    font-weight: semibold;
    color: #2d3748; /* Slightly different color */
  }
  
  h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
    font-weight: medium;
  }
  
  h4 {
    font-size: 1.125rem;
    font-weight: medium;
    color: #4a5568; /* Different color for lower-level headings */
  }
  
  h5 {
    font-size: 1rem;
    font-weight: medium;
  }
  
  h6 {
    font-size: 0.875rem;
    font-weight: medium;
    color: #718096; /* Even more subtle color */
  }
  
  p {
    margin-bottom: 1em;
  }
  
  ul, ol {
    padding-left: 20px;
    margin-bottom: 1em;
  }
  
  ul {
    list-style-type: disc; /* Default style for unordered lists */
  }
  
  ol {
    list-style-type: decimal; /* Default style for ordered lists */
  }
  
  ul ul, ol ol, ul ol, ol ul {
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-left: 20px; /* Indent for nested lists */
  }
  
  ul ul {
    list-style-type: circle; /* Different style for nested unordered lists */
  }
  
  ul ol {
    list-style-type: lower-alpha; /* Different style for unordered list inside ordered list */
  }
  
  ol ul {
    list-style-type: square; /* Different style for ordered list inside unordered list */
  }
  
  li {
    margin-bottom: 0.5em; /* Space between list items */
  }
  
  
}