@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif; /* Example font */
  color: #333; /* Text color */
  line-height: 1.6; /* Line height for better readability */
}

/* globals.css */
:root {
  --header-height: 4rem; /* Adjust as needed */
  --footer-height: 2rem; /* Adjust as needed */
  --sidebar-width: 14rem;
}

.grid-rows-layout {
  grid-template-rows: auto 1fr auto; /* Header, content, footer */
}

.grid-cols-layout {
  grid-template-columns: 200px 1fr; /* Sidebar width and content */
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}