@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: #333; /* Text color */
  line-height: 1.6; /* Line height for better readability */

}

/* globals.css */
:root {
  --header-height: 4rem; /* Adjust as needed */
  --footer-height: 2rem; /* Adjust as needed */
  --sidebar-width: 14rem;
}

.grid-rows-layout {
  grid-template-rows: auto 1fr auto; /* Header, content, footer */
}

.grid-cols-layout {
  grid-template-columns: 200px 1fr; /* Sidebar width and content */
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

/* Style for all scrollbars in the application */
::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
  height: 10px; /* Adjust scrollbar height for horizontal scrollbars */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0d0d0; /* Slightly darker gray for the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0; /* Even darker on hover for better visibility */
}
