@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: #333; /* Text color */
  /* line-height: 1.6; Line height for better readability */
}


html, body {
  margin: 0;
  padding: 0;
}
